{:deps true
 :builds
 {:server {:target :node-script
           :output-to "out/server.js"
           :output-dir "out"
           :main snapkitty.lisp.mcp/start!
           :compiler-options {:optimizations :advanced}}
  :test {:target :node-test
         :output-to "out/tests.js"
         :test-dir "test"
         :ns-regexp "-test$"}}}
